// boxes
$defaultPadding: 1rem;

* {
  font-size: $fontSize;
}

.content {
  max-width: 980px;
  margin: 0 auto;
  padding: 1rem;
}

.products {
  display: flex;
  justify-content: space-between;
}

.box { 
  border: 1px solid $gray;
  width: 300px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  &:last-child {
    margin-right: 0;
  }
}

.product-image {
  width: 100%;
}

.title {
  font-size: 25px;
  margin: 1rem 0;
  padding: 0 $defaultPadding;
}

.price {
  font-size: 18px;
  color: $white;
  background: $green;
  padding: $defaultPadding;
}

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 25px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 108px;
  display: block;
  background: $red;
  background: linear-gradient(darken($red, 5%) 0%, $red 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid $red;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid $red;
}

.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid $red;
  border-bottom: 3px solid transparent;
  border-top: 3px solid $red;
}